<h4>What's on your mind?</h4>
    <form action="/posts/create-post" id="new-post" method="POST">
        <textarea name="content" id="" cols="30" rows="3" placeholder="Share your thoughts..." required></textarea>
        <input type="submit" value="Post">
    </form>