<li>
    <a href="/user/profile">Your Profile</a>
</li>
<li>
    <a href="/user/posts">Posts</a>
</li>
<li>
    <a href="/user/friends">Friends</a>
</li>
<li>
    <a href="/user/liked-pages">Liked Pages</a>
</li>