<h1>LOG-IN</h1>

<form action="/create-session" method="POST">
    <input type="text" name="email" id="email" placeholder="E-Mail" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <button type="submit"> Log In </button>
    <button type="reset"> Reset </button>
</form>