<h1>
    SIGN-UP
</h1>

<form action="/create-account" method="POST">
    <input type="text" name="name" id="name" placeholder="Your Name" required>
    <input type="email" name="email" id="email" placeholder="E-Mail" required>
    <input type="password" name="password" id="password" placeholder="Create Password" required>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
    <button type="submit"> Create Account </button>
    <button type="reset"> Reset </button>
</form>