

<h1>Codeial - This is your Homepage</h1>
<ul>
    <li>
        <a href="/user/profile">Your Profile</a>
    </li>
    <li>
        <a href="/user/posts">Posts</a>
    </li>
    <li>
        <a href="/user/friends">Friends</a>
    </li>
    <li>
        <a href="/user/liked-pages">Liked Pages</a>
    </li>
</ul>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create-post" id="new-post" method="POST">
        <textarea name="content" id="" cols="30" rows="3" placeholder="Share your thoughts..." required></textarea>
        <input type="submit" value="Post">
    </form>
</section>